body{
    background-image: url(./images/full-body-trimmed.png);
    margin:0;
    padding: 0;
    padding-left: 100px;
    padding-right: 25px;
    font-weight: 70;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.name-card {
    letter-spacing: .3em;
    color: #532244;
    margin: 0;
    padding: 0;
    text-align: justify;
    font-weight: 900;
    font-size: 5vw;
    width: 65%;
    -webkit-text-stroke: 1px white;
    margin-top: 15px;
    padding-left: 2%;
}

.subname {
    letter-spacing: .1em;
    color:#532244;
    margin: 0;
    padding: 0;
    text-align: justify;
    font-weight: 900;
    font-size: 2vw;
    width: 35%;
    margin-top: 2%;
    -webkit-text-stroke: .5px white;
}



#face {
    height: 35%;
    width: 35%;
    justify-content: center;
    border: 5px solid black;
    float: inline-end;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 5px 10px rgb(54, 52, 52);
}


ul {
    margin: 0%;
    padding: 0%;
}

#left-menu {
    background-color: #532244;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-menu ul li {
    margin: 0;
    padding: 0;
    display: block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    align-items: center;
    position: relative;
    color: green;
    border-bottom: 2px solid lightgrey;
    text-align: center;
}


.nav-pics {
    position: relative;
    font-size: 64px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #532244;
    color:white;
    text-align: center;
    line-height: 4vh;
    font-weight: 100;
    font-size: 1.75vh;   
    letter-spacing: -0.1em;
    -webkit-text-stroke: 0 white;
}

.social-links {
    color: white;
    background-color: #532244;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 15vw;
    position: fixed;
    bottom: 4%;
    left: 140px;
    height: 70px;
    width: 250px;
}   

.social-icon {
    position: relative;
    padding-top: 10px;
    margin-left: 10px;
    height: 60px;
    font-size: 0;
}
