body{
    background-color: rgb(34, 34, 34);
    margin:0;
    padding: 0;
    padding-left: 100px;
    padding-right: 25px;
    font-weight: 70;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 125%;
    scroll-behavior:  smooth;
    overflow-x: hidden;
}


#face {
    height: 35%;
    width: 35%;
    justify-content: center;
    border: 5px solid #532244;
    float: right;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(255, 255, 255);
    margin-top: 1%;
}


ul {
    margin: 0%;
    padding: 0%;
}

#left-menu {
    background-color: #532244;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-menu ul li {
    margin: 0;
    padding: 0;
    display: block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    align-items: center;
    position: relative;
    color: green;
    border-bottom: 2px solid lightgrey;
    text-align: center;
}


.nav-pics {
    position: relative;
    font-size: 64px;
}

#about-info {
    width: 60%;
    float: left;
    color: lightgreen;
    font-size: 2.5vh;
    text-align: justify;
}

#about-header {
    margin-top: 5%;
    line-height: 0;
    padding: 0;
    color: #532244;
    -webkit-text-stroke: .5px white;
}

#project-page-header{
    margin: 0;
    padding: 0;
    width: auto;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: .4em;
    text-transform: uppercase;
    max-width: 1600px;
    margin: auto;
    color: white;

}

/* css code for projects page*/

section {
    margin: 0;
    padding: 50px 0;
}

.projects {
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: 1800px;
    margin: auto;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8%;
    padding-bottom: 75px;
}


.container-project{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    border-top: 3px solid white;
}

.container-image{
    width: 55%;
    padding-top: 30px;
}
.proj-img {
    max-width: 100%;
    vertical-align: center;
}

.container-text{
    width: 45%;
    padding-left: 20px;
}


.container-project:nth-child(odd) .container-text {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: 1;
    order: -1;
    padding-left: 0%;
}

h4{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    color: white;
    max-width: 600px;
    letter-spacing: 0.2rem;
    margin: 1rem 0 -0.5rem;
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

p {
    line-height: 1.55;
    font-size: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}

.container-icons {
    color: white;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 35%;
}

.box-icon{
    margin-right: 8px;
    position: relative;
}

section.work .container-text .container-btns{
    margin-bottom: 1.5rem;
    display: block;
}

.btn-view-work {
    margin-bottom: 7px;
    background-color: white;
    position: relative;
    display: inline-block;
    padding: 0.25rem 1rem 0.75rem;
    border: none;
    margin-right: 5px;
    transition: all 300ms ease-out;
}

a, .btns{
    color:black;
    text-decoration: none;
    letter-spacing: .01rem;
    font-size: 1.1rem;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
}

.btn-view-work:hover {
    background-color: #532244;
    color: white;
}

/* css code for travels page*/

div.gal-pics {
    opacity: .8;
}

div.gal-pics:hover {
    opacity: 1;
}

div.gal-pics img {
    width: 100%;
    height: auto;
    padding: 2px;
    background-position: bottom right;
}





* {
    box-sizing: border-box;
}

.resize-gallery-box {
    padding: 0 6px;
    float: left;
    width: 24.9999%;
}

@media only screen and (max-width: 700px) {
    .resize-gallery-box {
        width: 49.9999%;
        margin: 6px 0;
    }
    #face{
        width: 100%;
    }
    #about-info {
        width: 100%;
        padding-top: 10px;

    }
}

@media only screen and (max-width: 500px) {
    .resize-gallery-box{
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


* {
    box-sizing: border-box;
}



.gal-box {
    position: relative;
    display: none;
    margin-bottom: 100px;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
    background-color: #532244;

}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    display: block;
    font-weight: 900;
    -webkit-text-stroke: 2px #532244
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #532244;
    color:white;
    text-align: center;
    line-height: 4vh;
    font-weight: 100;
    font-size: 1.75vh;   
    letter-spacing: -0.1em;
}